* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fafafa;
  background: url(../img/biblioteca4.jpeg);
  background-size: cover;
}


/* Estilo de botones */
.btn {
    opacity: 50%;
    background-color: rgb(65, 105, 225);
    border: none;
    border-radius: 50px;
    color: white;
    padding: 12px 16px;
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
    animation: opacidad 1s;
  }
  
  /* Fondo rojo y opacidad 100 con hover */
  .btn:hover {
    background-color: red;
    opacity: 100%;

}

h1{
    text-align: center;
    animation: opacidad 1s;
}

.logo1{
    position: absolute;
    top: 40%;
    left: 25%;
    animation: opacidad 2s;
    animation: tamaño 2s;
}

.logo2{
    position: absolute;
    top: 40%;
    left: 60%;
    animation: opacidad 2s;
    animation: tamaño 2s;
    background-color: white;
    border-radius: 25px;
}

.facebook{
    height: 150px;
    width: 150px;
}

.blog{
    height: 150px;
    width: 150px;
}


/* !ANIMACIONES! */
@keyframes opacidad { 
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
}

@keyframes tamaño { 
    0%   {transform: scale(0);}
    100% {transform: scale(1);}
}



@media screen and (max-width: 600px) { 
  body{
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat; 
    background-size: cover;
  }

  .logo1{
    position: absolute;
    top: 40%;
    left: 20%;
    animation: opacidad 2s;
    animation: tamaño 2s;
  }

.logo2{
    position: absolute;
    top: 40%;
    left: 55%;
    animation: opacidad 2s;
    animation: tamaño 2s;
    background-color: white;
    border-radius: 25px;
  }

  .facebook{
    height: 80px;
    width: 80px; 
  }

  .blog{
    height: 80px;
    width: 80px;
  }
}
