<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title> Biblioteca virtual </title>
        <script src="https://kit.fontawesome.com/db956a52fb.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="../css/paginaSecundaria.css" type="text/css" rel="stylesheet" />
    </head>

    <body>
        <header>
            <div class="header">
                <a href="../views/paginaPrincipal.html" class="logo"><img src="../img/icono.png" alt="Logo Escuela Industrial" class="logoescuela"></a>
            </div>
        </header>
            
        
        <div class="topnav">
            <a class="active" href="#home">Inicio</a>
            <a href="#about">Acerca de</a>
            <a href="contacto.html">Contacto</a>
            <div class="search-container">
                <form action="">
                    <input type="text" placeholder="Busca tu libro" name="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>

        <img src="../img/im1.jpg" class="portada-libro">
        <div class="parrafo"> 
            <p> El principito narra la historia de un piloto que, mientras intenta reparar su avión averiado en medio del desierto del Sahara, se topa con un pequeño 
                príncipe proveniente del asteroide B 612, que le pide insistentemente que le dibuje un cordero y que nunca olvida una pregunta.
                El piloto empezará a descubrir la fascinante historia del principito, que comienza en su asteroide, donde vivía con tres volcanes, uno inactivo, y se entretenía 
                en arrancar las malas hierbas y ver puestas de sol.
                Un día en el suelo del asteroide del principito nace una flor. El principito la cuida y atiende con dedicación, pero la flor es dramática y caprichosa, y 
                esto le molesta. El principito entonces decide abandonar su asteroide y emprender un viaje por el universo en busca de un amigo.
                En la travesía, que llevará al principito a visitar varios asteroides hasta llegar al la Tierra, conocerá a una variado grupo de excéntricos personajes que
                lo convencen de lo extraño que es el mundo de los adultos, tan ocupados siempre en asuntos serios e importantes, que se olvidan de disfrutar la vida.
                En la Tierra, el principito entrará en contacto con animales, flores y personas. Será allí donde, antes de encontrar al piloto, conocerá al zorro, quien 
                le revelará la importancia de la amistad y el valor del amor que siente hacia su flor. Será la nostalgia por ella y la decepción que le causa el mundo de 
                los adultos lo que motivará al principito a regresar a su planeta.
            </p>
        </div>
    </body>
</html>
            