<!DOCTYPE html>
<html>
    <head>
        <title> Biblioteca virtual </title>
        <link rel="icon" type="image/png" href="/img/icon.png">
        <script src="https://kit.fontawesome.com/db956a52fb.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/biblioteca.css">
    </head>
        <body> 
            <header>
                <div class="barra">
                    <h1><img src="/img/icono.png" class="icono"> Biblioteca virtual</h1>
                    <nav class="navegacion">
                        
                    <input type="submit" value="Cerrar Sesion">
                    </nav>
                </div>
            </br>
                <div class="buscar">
                    <input type="text" placeholder="Buscar" required>
                    <div class="btn">
                        <i class="fas fa-search icon"></i>
                    </div>
                </div>  
            </header>
        </br>
    </br>
</br>
            <a href="https://m.facebook.com/escuelatecnica.chascomus">
                <img src="/img/fc.png" class="facebook">
            </a>

            <a href="https://escuelatecnican1chascomus.blogspot.com/">
                <img src="/img/blog.png" class="blog">
            </a>

            <div class="text">
                <h2>Nuestro catalogo de libros</h2>
            </div>
            &nbsp;
            &nbsp;
            <img src="/img/im1.jpg" class="img1">
            <img src="/img/im2.jpg" class="img2">
            <img src="/img/im3.jpg" class="img3">

        </body>
</html>

